/* Theme toggle button */
.dark-mode-btn {
  background: none;
  border: none;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.2rem;
  transition: color 0.3s;
  position: relative;
}

.dark-mode-btn:hover {
  color: var(--secondary-color);
  background: none;
}

.dark-mode-btn__icon {
  width: 1.2em;
  height: 1.2em;
  display: none;
}

.dark-mode-btn__icon.active {
  display: block;
}

.language-toggle {
  background: none;
  border: none;
  color: var(--text-color);
  font-size: 1.2rem;
  cursor: pointer;
  padding: 0.5rem;
  transition: color 0.3s ease;
}

.language-toggle:hover {
  color: var(--secondary-color);
}

[data-lang="en"] .uk {
  display: none;
}

[data-lang="uk"] .en {
  display: none;
}